[Desktop Entry]
Type=Application
Exec=/usr/bin/octoxbps-notifier
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Octoxbps-updater
Comment=Update notifier for octoxbps
